<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>BWFUIFramework</title>
		<link rel="stylesheet" href="${rc.contextPath}/suport/css/bootstrap.min.css" />
		<link rel="stylesheet" href="${rc.contextPath}/suport/css/animate.min.css" />
		<script type="text/javascript" src="${rc.contextPath}/suport/js/jquery.min.js" ></script>
		<script type="text/javascript" src="${rc.contextPath}/suport/js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="${rc.contextPath}/suport/js/wow.js" ></script>
		<link rel="stylesheet" href="${rc.contextPath}/suport/css/global.css" />
		<script type="text/javascript" src="${rc.contextPath}/suport/js/global.js" ></script>
	</head>
	<script type="text/javascript">
		$(function(){
		
			var page1=${page};
			console.log(page1);
			//首页
			$('#firstPage').click(function(){
				location.href='${rc.contextPath}/show?page=1';
			});
			//上一页
			$('#prevPage').click(function(){
				
				if(page1===1){
				
					location.href='${rc.contextPath}/show?page=1';
				}else{
					location.href='${rc.contextPath}/show?page='+(page1-1);
				}
				
			});
			//下一页
			$('#nextPage').click(function(){
				if(page1==${allPage}){
					location.href='${rc.contextPath}/show?page='+${allPage};
				}else{
					location.href='${rc.contextPath}/show?page='+(${page}+1);
				}
				
			});
			//末页
			$('#lastPage').click(function(){
				location.href='${rc.contextPath}/show?page='+${allPage};
			});
			
			//生成按钮
			for(var i=${allPage};i>0;i--){
				if(i===${page}){
					$('#prevPage').after(
					'<button type="button" style="background:yellow;" class="btn btn-default hidden-xs btnPage disabled" >'+i+'</button>'
					);
				
				}else{
					$('#prevPage').after(
					'<button type="button" class="btn btn-default hidden-xs btnPage" >'+i+'</button>'
					);
				}
				
			}
			//按钮分页
			$('.btnPage').click(function(){
	  			location.href='${rc.contextPath}/show?page='+$(this).html();
	  		});
	  		//跳转
	  		$('#search').click(function(){
	  			location.href='${rc.contextPath}/show?page='+$('#text').val();
	  		
	  		});
	  		
	  		//添加用户
	  		$('#add').click(function(){
	  			location.href='${rc.contextPath}/add';
	  		});
	  		//单个删除员工
	  		$('.deletUser').click(function(){
	  			location.href='${rc.contextPath}/deletUser/'+$(this).prev().val();
	  		});
			
			//删除多个员工
			$('#deleteMore').click(function(){
				$('#doSubmit').submit();
			});
			
			//编辑员工信息
			$('.editUser').click(function(){
				location.href='${rc.contextPath}/editUser/'+$(this).next().val();
			});
		});
	
	</script>
	<body>
			<div class="panel panel-default">
				<div class="panel-heading">
					
					员工信息
					<div class="btn-group btn-group-sm pull-right">
					<button id="deleteMore" type="button" class="btn btn-default">
						<img src="${rc.contextPath}/suport/img/7.png" height="16px"/>
						&nbsp;&nbsp;批量删除
					</button>
					<button id="add" type="button" class="btn btn-default">
						<img src="${rc.contextPath}/suport/img/plus.png" height="16px"/>
						&nbsp;&nbsp;添加数据
					</button>
					</div>
				</div>
				
				<div class="panel-body">
					
					
						
						<table class="table table-bordered table-condensed table-hover table-responsive cbx-group">
							<thead>
								<tr>
									<th class="td-checkbox"><input type="checkbox" class="cbx-all"/></th>
									<th>员工编号</th>
									<th>员工头像</th>
									<th>员工姓名</th>
									<th>员工密码</th>
									<th>员工昵称</th>
									<th>员工上级</th>
									<th>操作选项</th>
								</tr>
							</thead>
							<tbody>
								<form id="doSubmit" action="${rc.contextPath}/deletUser" method="GET">
									<#list allUsers as user1>
										<tr >
											<td align="center" class="td-checkbox">
											<input type="checkbox" name="userId" value="${user1.userId}"/></td>
											<td >${user1.userId}</td>
											<td ><img alt="头像" class="image image-responsive" style="height:30px;" src="${rc.contextPath}/suport/avaters/${user1.avater}"></td>
											<td >${user1.userName}</td>
											<td >${user1.password}</td>
											<td >${user1.nickName}</td>
											<td >${user1.leader.nickName}</td>
											
											<td width="120px">
												<span class="btn-group btn-group-xs" >
													<button type="button" class="btn btn-default editUser">编辑</button>
													<input type="hidden" value="${user1.userId}"/>
													<button type="button" class="btn btn-danger deletUser">删除</button>
												</span>
											</td>
										</tr>
									</#list>
								</form>
							</tbody>
							<tfoot>
								
							</tfoot>
						</table>
						
						<div class="row">
							<div class="col-lg-8 col-md-7 col-sm-7 col-xs-5">
								<div class="btn-group btn-group-sm">
									<button id="firstPage" type="button" class="btn btn-darkgreen">
										<span class="hidden-xs hidden-sm"> 首 页 </span>
										<span class="hidden-lg hidden-md"> |&lt; </span>
									</button>
									<button id="prevPage" type="button" class="btn btn-darkgreen">
										<span class="hidden-xs hidden-sm"> 上一页 </span>
										<span class="hidden-lg hidden-md"> &lt;&lt; </span>
									</button>
									
									<button id="nextPage" type="button" class="btn btn-darkgreen">
										<span class="hidden-xs hidden-sm"> 下一页 </span>
										<span class="hidden-lg hidden-md"> &gt;&gt; </span>
									</button>
									<button id="lastPage" type="button" class="btn btn-darkgreen">
										<span class="hidden-xs hidden-sm"> 末 页 </span>
										<span class="hidden-lg hidden-md"> &gt;| </span>
									</button>
								</div>
								
							</div>
							<div class="col-lg-4 col-md-5 col-sm-5 col-xs-7">
								<div class="input-group input-group-sm">
									<input id="text" type="text" class="form-control" placeholder="请输入页数，例如：2" />
									<span class="input-group-addon"> / ${allPage} 页 </span>
									<div class="input-group-btn">
										<button id="search" type="button" class="btn btn-darkgreen">
											Go
										</button>
									</div>
								</div>
							</div>
						</div>
						
						
						
					
					
					
					
				</div>
			</div>
			
	
		<div style="height: 80px;"></div>
	</body>
</html>

