<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>BWFUIFramework</title>
<link rel="stylesheet"
	href="${rc.contextPath}/suport/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="${rc.contextPath}/suport/css/animate.min.css" />
<script type="text/javascript"
	src="${rc.contextPath}/suport/js/jquery.min.js"></script>
<script type="text/javascript"
	src="${rc.contextPath}/suport/js/bootstrap.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/suport/js/wow.js"></script>
<link rel="stylesheet" href="${rc.contextPath}/suport/css/global.css" />
<script type="text/javascript"
	src="${rc.contextPath}/suport/js/global.js"></script>
<script type="text/javascript"
	src="${rc.contextPath}/suport/js/Calendar3.js"></script>

</head>
<body>
	<div class="panel-heading">
				<button onclick="history.back();" type="button" class="btn btn-default btn-back btn-sm"> 返 回 </button>&nbsp;&nbsp;删除部门
			</div>
	<div class="panel-body">
		<form action="${rc.contextPath}/doDeleteDepartment" method="post" role="form">
			
			<!-- 一级权限 -->
			<#list allDepartment as department1> 
				<#if department1.pId=null> 
				
				<div class="row row-where">
				<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
					<label class="btn btn-primary"> 
						<input type="checkbox" name="departmentId"
							value="${department1.departmentId}" />${department1.departmentName}
					</label>
					</div>
				</div>
					 <br/>
					<#list allDepartment as department2>
					<#if department2.pId=department1.departmentId> 
					<div class="row row-where">
					<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
						<label class="btn btn-primary"> 
						<input type="checkbox" name="departmentId"
							value="${department2.departmentId}" />${department2.departmentName}
						</label>
						</div>
					</div><br/>
					
					
			<!-- 二级权限 -->
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			
			<#list allDepartment as department3>
				<#if department3.pId=department2.departmentId>
					<label class="btn btn-primary"> 
						<input type="checkbox" name="departmentId"
							value="${department3.departmentId}" />${department3.departmentName}
					</label> 
				</#if> 
			</#list>
			<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			</#if>
			</#list> 
			
			</#if> 
			</#list>
			<div class="row row-where">
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<button type="submit" class="btn btn-darkgreen form-control">
					删除
					</button>
				</div>
			</div>
		</form>
		</div>
		
		<div style="height: 80px;"></div>
	</body>
</html>